﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CCM</title>
    <script src="_assests/jQuit/js/jquery-1.10.2.js"></script>
    <script src="_assests/jQuit/js/jquery-ui.js"></script>
    <link href="_assests/jQuit/css/jquery-ui.css" rel="stylesheet" />
    <link href="_assests/jQuit/js/Context-Menu/src/jquery.contextMenu.css" rel="stylesheet" />
    <link href="http://www.avaima.com/apps_data/b2303cf1-32f3-439d-9753-4a1a0748a376/5841fc0d-e505-4bed-93c5-785278cc0e25/app-style.css" media="screen" type="text/css" rel="stylesheet" />
    <link href="_assests/Styles/my_style.css" rel="stylesheet" />
    <link href="_assests/CKEditor/contents.css" rel="stylesheet" />
    <script src="_assests/CKEditor/ckeditor.js"></script>
    <script src="_assests/CKEditor/adapters/jquery.js"></script>
    <script src="_assests/Uplodify/jquery.uploadify.min.js"></script>
    <link href="_assests/Uplodify/uploadify.css" rel="stylesheet" />
    <script>
        $(document).ready(function(){
            $('.txtMemDis').ckeditor();
        });
    </script>
</head>
<body>
    <form id="form1">
        <div id="mainContentDiv">
            <div class="Header-top">
                <div class="ImageDiv">
                    <img alt="img" src="http://www.avaima.com/main/Control_Panel/Assets/images/AVAIMA-Logo.jpg">
                </div>
                <a class="TopHeaderBtns" target="_blank" href="http://www.avaima.com/sign-up">Sign Up</a>
                <a class="TopHeaderBtns" target="_blank" href="http://www.avaima.com/signin">Sign In</a>
                <a class="TopHeaderBtns AppStoreBtnTop" target="_blank" href="http://www.avaima.com/web-applications">
                    App Store
                </a>
            </div>
            <div class="Clear">
            </div>
            <div class="ContentLeft_List">
                <h2>
                    Discussions
                </h2>
                <br />
                <ul>
                    <li><a href="#"> Discussion 1</a></li>
                    <li><a href="#"> Discussion Very very very lengthy 2</a></li>
                    <li><a href="#"> Discussion 3</a></li>
                    <li><a href="#"> Discussion 4</a></li>
                </ul>
            </div>
            <div class="ContentRight_Text" id="divcontent" style="background-color:">
                <h1 >
                    Attendance Management System
                </h1>
                <div style="margin-top:9px;">
                    <b>Last Updated:</b> 1/1/2014
                    &nbsp;
                    &nbsp;
                    <b>Created On:</b> 1/1/2014
                </div>
                <div id="divBreadCrumb">
                    <div style="clear: both"></div>
                    <div id="divManageMember" class="divDataForm divManageMember" style="margin-left:4px;display:none;">
                        <h3 id="h3" style="border-bottom: 1px solid #ccc">Mange Members</h3>
                        <br>
                        <table class="tblForm">
                            <tbody>
                                <tr id="trM4">
                                    <td class="formCaptionTd">
                                        Add as
                                    </td>
                                    <td style="font-size: 18px">
                                        <span style="float: left"><input id="rdoClient" type="radio" name="memberas" value="rdoClient" checked="checked"><label for="rdoClient">Client</label></span>
                                        <span style="float: right; margin-right: 12px"><input id="rdoTeam" type="radio" name="memberas" value="rdoTeam" onclick="javascript:setTimeout('__doPostBack(\'rdoTeam\',\'\')', 0)"><label for="rdoTeam">Team</label></span>
                                    </td>
                                </tr>

                                <tr id="trM10">
                                    <td></td>
                                    <td>
                                        <span class="chkAddNew"><input id="chkAddNew" type="checkbox" name="chkAddNew" checked="checked"><label for="chkAddNew">Add New Member</label></span>
                                    </td>
                                </tr>

                                <tr id="trEx" class="trEx" style="display: none">
                                    <td class="formCaptionTd">
                                        Existing
                                    </td>
                                    <td>
                                        <select name="ddlMembers" id="ddlMembers" class="ddlMembers">
                                            <option value="0">Select</option>
                                            <option value="2">Gmail Faizan</option>
                                            <option value="4">Fahad Mir</option>

                                        </select>
                                        <input type="submit" name="btnAddEx" value="Select" id="btnAddEx" class="btnAddEx">
                                        <input type="submit" name="btnCancelEx" value="Cancel" id="btnCancelEx" class="btnCancelMember">
                                        <span id="lblExInfo" class="lblInfo"></span>
                                    </td>
                                </tr>

                                <tr id="trM1" class="trNew">
                                    <td class="formCaptionTd">
                                        Name
                                    </td>
                                    <td>
                                        <input name="txtTeamFullName" type="text" id="txtTeamFullName" class="txtTeamFullName">
                                        &nbsp;&nbsp;<span id="RequiredFieldValidator1" style="color:Red;visibility:hidden;">Required</span>
                                        <input type="hidden" name="hdnUserMemberID" id="hdnUserMemberID" value="0">
                                    </td>
                                </tr>

                                <tr id="trM2" class="trNew">
                                    <td class="formCaptionTd">
                                        Alias
                                    </td>
                                    <td>
                                        <input name="txtTeamAlias" type="text" id="txtTeamAlias" class="txtTeamAlias">
                                        &nbsp;&nbsp;<span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">Required</span>
                                    </td>
                                </tr>

                                <tr id="trM3" class="trNew">
                                    <td class="formCaptionTd">
                                        Email
                                    </td>
                                    <td>
                                        <input name="txtTeamEmail" type="text" id="txtTeamEmail" class="txtTeamEmail" style="width:200px;">
                                        &nbsp;&nbsp;<span id="RequiredFieldValidator3" style="color:Red;visibility:hidden;">Required</span>
                                        &nbsp;&nbsp;
                                        <span id="RegularExpressionValidator1" style="color:Red;visibility:hidden;">Invalid Email</span>
                                    </td>
                                </tr>




                                <tr>
                                    <td></td>
                                    <td>
                                        <span class="chkSendLink"><input id="chkSendLink" type="checkbox" name="chkSendLink" checked="checked"><label for="chkSendLink">Send Discussion Link</label></span>
                                    </td>
                                </tr>
                                <tr id="trM5" class="trNew">
                                    <td></td>
                                    <td>
                                        <input type="submit" name="btnAddMember" value="Add Member" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnAddMember&quot;, &quot;&quot;, true, &quot;MemberValidation&quot;, &quot;&quot;, false, false))" id="btnAddMember" class="btnAddMember">
                                        <input type="submit" name="btnCancelMember" value="Cancel" id="btnCancelMember" class="btnCancelMember">
                                        <span id="lblInfo" class="lblInfo"></span>
                                    </td>
                                </tr>

                                <tr id="trClient">
                                    <td>Clients</td>
                                    <td>

                                        <table class="smallGrid">
                                            <tbody>
                                                <tr class="smallGridHead">
                                                    <td>
                                                        Full Name
                                                    </td>
                                                    <td>
                                                        Alias
                                                    </td>
                                                    <td>
                                                        Email
                                                    </td>
                                                    <td></td>
                                                </tr>

                                                <tr id="rptClientMembers_ctl01_trTeamData" data-as="client" data-id="2">
                                                    <td>
                                                        <span id="rptClientMembers_ctl01_txtFullName" class="txtFullName">Gmail Faizan</span>
                                                    </td>
                                                    <td>
                                                        <span id="rptClientMembers_ctl01_txtAlias" class="txtAlias">Jackson Faz</span>
                                                    </td>
                                                    <td>
                                                        <span id="rptClientMembers_ctl01_txtEmail" class="txtEmail">sbmuhammadfaizan@gmail.com</span>
                                                    </td>
                                                    <td>
                                                        <a id="rptClientMembers_ctl01_lnkEdit" class="lnkEdit" href="javascript:__doPostBack('rptClientMembers$ctl01$lnkEdit','')">Edit</a>
                                                        <a id="rptClientMembers_ctl01_lnkRemove" class="lnkRemove" href="javascript:__doPostBack('rptClientMembers$ctl01$lnkRemove','')">Remove</a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>

                                    </td>
                                </tr>

                                <tr id="trTeam">
                                    <td>
                                        Team
                                    </td>
                                    <td>

                                        <table class="smallGrid">
                                            <tbody>
                                                <tr class="smallGridHead">
                                                    <td>
                                                        Full Name
                                                    </td>
                                                    <td>
                                                        Alias
                                                    </td>
                                                    <td>
                                                        Email
                                                    </td>
                                                    <td></td>
                                                </tr>

                                                <tr id="rptTeamMember_ctl01_trTeamData" data-as="team" data-id="3">
                                                    <td>
                                                        <span id="rptTeamMember_ctl01_txtFullName" class="txtFullName">Yahoo Faizan</span>
                                                    </td>
                                                    <td>
                                                        <span id="rptTeamMember_ctl01_txtAlias" class="txtAlias">Yup Faz</span>
                                                    </td>
                                                    <td>
                                                        <span id="rptTeamMember_ctl01_txtEmail" class="txtEmail">b3ast667@yahoo.com</span>
                                                    </td>
                                                    <td>
                                                        <a id="rptTeamMember_ctl01_lnkEdit" class="lnkEdit" href="javascript:__doPostBack('rptTeamMember$ctl01$lnkEdit','')">Edit</a>
                                                        <a id="rptTeamMember_ctl01_lnkRemove" class="lnkRemove" href="javascript:__doPostBack('rptTeamMember$ctl01$lnkRemove','')">Remove</a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="clearboth"></div>

                </div>
                <br />
                <div id="divDiscussion">
                    <div style="width: 100%; float: left;">
                        <div id="divMemberDiscussion">


                            <div class="divMD" data-team="0" data-rowkey="4b16f473-6376-4164-a6d4-3d8ed7890699" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td id="rptDiscussions_ctl01_tdImage" class="tdImage" style="width: 120px">
                                                <img src="_assests/images/SuperAdmin.png" id="rptDiscussions_ctl01_imgMember" class="imgMember">
                                                <br>
                                                <span id="rptDiscussions_ctl01_lblMemberTemp" class="lblMember">Jack Sparrow</span>
                                            </td>

                                            <td data-memdisid="4b16f473-6376-4164-a6d4-3d8ed7890699">
                                                <div id="rptDiscussions_ctl01_divMemDis" class="Class SuperAdmin" data-role="SuperAdmin">
                                                    <div id="rptDiscussions_ctl01_divMemDisO">
                                                        <p>Super user second hi</p><br>
                                                    </div>

                                                    <img id="rptDiscussions_ctl01_disAction" class="disAction" data-id="4b16f473-6376-4164-a6d4-3d8ed7890699" src="_assests/Images/downarrow.png" style="border-width:0px;"><span class="lblDateTime">Fri 08 2014 05:00:27 AM</span>
                                                </div>


                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divMD" data-team="0" data-rowkey="35424764-4ae1-4428-8a96-ebe75d51a2c6" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td id="rptDiscussions_ctl02_tdImage" class="tdImage" style="width: 120px">
                                                <img src="_assests/images/SuperAdmin.png" id="rptDiscussions_ctl02_imgMember" class="imgMember">
                                                <br>
                                                <span id="rptDiscussions_ctl02_lblMemberTemp" class="lblMember">Jack Sparrow</span>
                                            </td>

                                            <td data-memdisid="35424764-4ae1-4428-8a96-ebe75d51a2c6">
                                                <div id="rptDiscussions_ctl02_divMemDis" class="Class SuperAdmin" data-role="SuperAdmin">
                                                    <div id="rptDiscussions_ctl02_divMemDisO">
                                                        <p>Super user third to delete</p><br>
                                                    </div>

                                                    <img id="rptDiscussions_ctl02_disAction" class="disAction" data-id="35424764-4ae1-4428-8a96-ebe75d51a2c6" src="_assests/Images/downarrow.png" style="border-width:0px;"><span class="lblDateTime">Fri 08 2014 11:02:24 AM</span>
                                                </div>


                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divMD" data-team="0" data-rowkey="98e54706-f612-474f-b027-41a82d2756e7" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td id="rptDiscussions_ctl03_tdImage" class="tdImage" style="width: 120px">
                                                <img src="_assests/images/SuperAdmin.png" id="rptDiscussions_ctl03_imgMember" class="imgMember">
                                                <br>
                                                <span id="rptDiscussions_ctl03_lblMemberTemp" class="lblMember">Jack Sparrow</span>
                                            </td>

                                            <td data-memdisid="98e54706-f612-474f-b027-41a82d2756e7">
                                                <div id="rptDiscussions_ctl03_divMemDis" class="Class SuperAdmin" data-role="SuperAdmin">
                                                    <div id="rptDiscussions_ctl03_divMemDisO">
                                                        <p>Test testing discussion 2</p><br>
                                                    </div>

                                                    <img id="rptDiscussions_ctl03_disAction" class="disAction" data-id="98e54706-f612-474f-b027-41a82d2756e7" src="_assests/Images/downarrow.png" style="border-width:0px;"><span class="lblDateTime">Mon 08 2014 05:23:53 AM</span>
                                                </div>


                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divMD" data-team="0" data-rowkey="29276a66-c141-4223-870a-e52f397dc686" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>

                                            <td data-memdisid="29276a66-c141-4223-870a-e52f397dc686">
                                                <div id="rptDiscussions_ctl04_divMemDis" class="Class ClientMember" data-role="ClientMember">
                                                    <div id="rptDiscussions_ctl04_divMemDisO">
                                                        <p>Testing Jack</p><br>
                                                    </div>

                                                    <span class="lblDateTime">Mon 08 2014 05:49:44 AM</span>
                                                </div>


                                            </td>
                                            <td id="rptDiscussions_ctl04_tdImage2" class="tdImage2" style="width: 120px">
                                                <img src="_assests/images/ClientMember.png" id="rptDiscussions_ctl04_imgMember2" class="imgMember2">
                                                <br>
                                                <span id="rptDiscussions_ctl04_lblMemberTemp2" class="lblMember2">Jackson Faz</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divMD" data-team="0" data-rowkey="69a3be7e-7961-48ec-ae95-f25d640238f4" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>

                                            <td data-memdisid="69a3be7e-7961-48ec-ae95-f25d640238f4">
                                                <div id="rptDiscussions_ctl05_divMemDis" class="Class ClientMember" data-role="ClientMember">
                                                    <div id="rptDiscussions_ctl05_divMemDisO">
                                                        <p>asdad</p><br>
                                                    </div>

                                                    <span class="lblDateTime">Mon 08 2014 05:50:20 AM</span>
                                                </div>


                                            </td>
                                            <td id="rptDiscussions_ctl05_tdImage2" class="tdImage2" style="width: 120px">
                                                <img src="_assests/images/ClientMember.png" id="rptDiscussions_ctl05_imgMember2" class="imgMember2">
                                                <br>
                                                <span id="rptDiscussions_ctl05_lblMemberTemp2" class="lblMember2">Jackson Faz</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divMD" data-team="0" data-rowkey="83b5bc7e-428a-4b95-b3de-220522f5d993" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>

                                            <td data-memdisid="83b5bc7e-428a-4b95-b3de-220522f5d993">
                                                <div id="rptDiscussions_ctl06_divMemDis" class="Class ClientMember" data-role="ClientMember">
                                                    <div id="rptDiscussions_ctl06_divMemDisO">
                                                        <p>asddasdas</p><br>
                                                    </div>

                                                    <span class="lblDateTime">Mon 08 2014 05:50:57 AM</span>
                                                </div>


                                            </td>
                                            <td id="rptDiscussions_ctl06_tdImage2" class="tdImage2" style="width: 120px">
                                                <img src="_assests/images/ClientMember.png" id="rptDiscussions_ctl06_imgMember2" class="imgMember2">
                                                <br>
                                                <span id="rptDiscussions_ctl06_lblMemberTemp2" class="lblMember2">Jackson Faz</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="divMD" data-team="" data-rowkey="" style="width: 1000px; display: none">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td id="tdImage" class="tdImage" style="width: 120px">
                                                <img id="img1" class="imgMember">
                                                <br>
                                                <span id="Label5" class="lblMember"></span>
                                            </td>

                                            <td data-memdisid="">
                                                <div id="divMemDis" class="divMemDis" data-role="">
                                                    <div id="divMemDisO">
                                                    </div>
                                                    <img id="disAction" class="disAction" data-id="" src="_assests/Images/downarrow.png" style="border-width: 0px;">
                                                </div>
                                            </td>
                                            <td id="tdImage2" class="tdImage2" style="width: 120px">
                                                <img id="imgMember2" class="imgMember2">
                                                <br>
                                                <span id="lblMemberTemp2" class="lblMember2"></span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="divMD" data-team="0" data-rowkey="59efcd8a-59a6-43b0-9484-a15f9a401fc2" style="width: 1000px">
                                <table class="tblDis" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <td id="rptTempDiscussions_ctl01_tdImage" class="tdImage" style="width: 120px">
                                                <img src="_assests/images/SuperAdmin.png" id="rptTempDiscussions_ctl01_imgMember" class="imgMember">
                                                <br>
                                                <span id="rptTempDiscussions_ctl01_lblMemberTemp" class="lblMember">Jack Sparrow</span>
                                            </td>

                                            <td data-memdisid="59efcd8a-59a6-43b0-9484-a15f9a401fc2">
                                                <div id="rptTempDiscussions_ctl01_divMemDis" class="Class SuperAdmin" data-role="SuperAdmin">
                                                    <div id="rptTempDiscussions_ctl01_divMemDisO">
                                                        <p>Hotmail test</p><br>
                                                    </div>

                                                    <img id="rptTempDiscussions_ctl01_disAction" class="disAction" data-id="59efcd8a-59a6-43b0-9484-a15f9a401fc2" src="_assests/Images/downarrow.png" style="border-width:0px;"><span class="lblDateTime">Mon 08 2014 05:56:05 AM</span>
                                                </div>


                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="divMDa" data-team="" style="width: 1000px">
                                <table class="tblDis" style="width: 60%">
                                    <tbody>
                                        <tr>
                                            <td class="tdImage" style="width: 120px">
                                                <img id="imgMember" class="imgMember" src="_assests/Images/client.png" style="border-width:0px;">
                                                <br>
                                                <span id="lblMemberTemp" class="lblMember"></span>
                                            </td>
                                            <td>
                                                <textarea id="txtMemDis" class="txtMemDis" style="width: 300px; visibility: hidden; display: none;"></textarea>
                                                <br />
                                                <!--<asp:Button ID="btnSend" CssClass="btnSend" runat="server" Style="float: right" Text="Send" />-->
                                                <input type="submit" id="btnSend" class="btnSend" value="Send" style="float: right" />
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="file" id="fileUpload1" class="fileUpload1" style="float: left">
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                        <div id="tempDiv" style="display: none;"></div>
                    </div>
                </div>
                <div id="divDialog" class="divDialog" style="display: none">
                    <p id="paraDialog"></p>
                    <p id="p1"></p>
                </div>
                <div id="divcpdialog" class="divcpdialog" style="display: none">
                    <p id="p2" class="paraDialog">
                    </p>
                </div>
                <div style="clear:both">
                </div>
            </div>
            <label id="lblmsg"></label>
            <div class="ContentRight_List" style="float:right">
                <div class="container_box">
                    <h2>
                        Files (4)
                    </h2>
                    <ul>
                        <li><a href="#">File 1</a></li>
                        <li><a href="#">File Very very very lengthy 2</a></li>
                        <li><a href="#">File 3</a></li>
                        <li><a href="#">File 4</a></li>
                    </ul>
                </div>
                <div class="container_box">
                    <h2>
                        Team (4)
                    </h2>
                    <ul>
                        <li>Denis</li>
                        <li>Devid</li>
                        <li>Muhammad</li>
                        <li>John</li>
                    </ul>
                </div>
                <div class="container_box">
                    <h2>
                        Client (3)
                    </h2>
                    <ul>
                        <li>Denis</li>
                        <li>Devid</li>
                        <li>Muhammad</li>
                    </ul>
                </div>
            </div>
            <asp:hiddenfield id="hfinstanceid" clientidmode="Static" />
            <asp:hiddenfield id="hfuserid" clientidmode="Static" />
        </div>

    </form>
</body>