﻿.tblForm tr td:nth-child(2n + 1) {
    /*padding: 6px 5px 6px 50px;*/
    /*text-align: right;*/
}

.tblForm tr td:nth-child(n+1) {
    /*height: 24px;*/
}

.divDataForm {
    margin-left: 4px;
    display: inline-block;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    margin-top: 13px;
    /*border-top-left-radius: 23px;
            border-top-right-radius: 23px;
            border-bottom-right-radius: 23px;
            border-bottom-left-radius: 23px;*/
    background-color: whitesmoke;
}

    .divDataForm h3 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        text-align: center;
    }

    .divDataForm .tblForm .captiontd {
        text-align: right;
        padding: 0px 6px 10px 6px;
    }

input[type="submit"] {
    padding: 3px 5px;
}

.ui-dialog {
    z-index: 2 !important;
}

.lnkAddDiscussion {
    background-image: url('/_assests/Images/16 x 16/Add-Discussion.png');
    width: 16px;
    height: 16px;
}

.divManageClient, .divManageTeam {
    line-height: 22px;
}

    .divManageClient input[type="text"], .divManageTeam input[type="text"] {
        line-height: 18px;
        font-size: 12px;
    }

.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 28px !important;
    height:28px !important;
    margin-top: -14px !important;
}
