﻿.btnSend {
    width: 60px;
}

.disAction {
    float: right;
    width: 16px !important;
    border: 1px solid black !important;
    margin: -6px;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    /* border-radius: 0 !important; */
    background: #d7e4ed;
    border-width: 0px;
    /* padding: 4px 5px; */
    cursor: pointer;
}

.divMDTemp {
    display: none;
}

ul, ol {
    padding-left: 40px;
}

/*input[type="submit"] {
            border: none;
            padding: 5px 13px;
            cursor: pointer;
            float: right;
            background: #0392ff;
            color: white;
            border-radius: 6px;
        }*/

.tblDis img {
    width: 50px;
    border-radius: 30px;
}

.tblDis .tdImage {
    padding: 4px;
    text-align: center;
}

.teambubble, .SuperAdmin, .Admin, .VendorMember {
    position: relative;
    /*width: 540px;*/
    padding: 10px 37px 4px 16px;
    background: #e9f8fd;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    border-radius: 14px;
    color: black;
    max-width: 60%;
    /*color:#ccc;*/
}

.clientbubble, .ClientMember, .ClientAdmin {
    position: relative;
    /*width: 540px;*/
    height: auto;
    padding: 10px 37px 4px 16px;
    display: inline-block;
    background: #effde8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 14px;
    float: right;
    margin-right: 33px;
    max-width: 60%;
}

.divMD {
    width: 100% !important;
    /*background-color: #f1f1f1;*/
    margin: 0px 0px 0px 0px;
    padding: 22px 0px;
}

.tblClient td {
    padding: 0px 10px;
}

.memberInfoDiv, .ClientInfoDiv {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 20px;
    display: inline-block;
}

/*input[type="submit"] {
            border: none;
            padding: 5px 13px;
            cursor: pointer;
        }*/

.ui-dialog {
    z-index: 2;
}

.lblEditFlag {
    display: none;
}

.tblForm tr td:nth-child(2n + 1) {
    /*padding: 6px 5px 6px 50px;*/
    /*text-align: right;*/
}

.tblForm tr td:nth-child(n+1) {
    /*height: 24px;*/
}

.divDataForm {
    margin-left: 4px;
    display: inline-block;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    margin-top: 13px;
    /*border-top-left-radius: 23px;
            border-top-right-radius: 23px;
            border-bottom-right-radius: 23px;
            border-bottom-left-radius: 23px;*/
    background-color: whitesmoke;
    margin-left: 4px; /*display: none;*/
}

    .divDataForm h3 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        text-align: center;
    }

    .divDataForm .tblForm .captiontd {
        text-align: right;
        padding: 0px 6px 10px 6px;
    }

.divManageMember {
    margin-left: 4px;
}

input[type="submit"] {
    padding: 3px 5px;
    font-size: 12px;
}

.ddlDisProjects {
}

.ui-dialog {
    z-index: 2 !important;
}

.hide {
    display: none;
}



form {
    height: 100%;
}

body {
    height: 100%;
}

.ImageDiv {
    display: block;
    height: 42px;
    margin: 15px 0 0 10px;
    position: absolute;
    text-decoration: none;
    width: 155px;
}

body {
    font: 13px/16px arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.Header-top {
    border-bottom: 6px solid #B5D1E6;
    height: 70px;
    width: 100%;
}

.Clear {
    clear: both;
}

.ImageDiv {
    float: left;
    height: 70px;
    width: 176px;
}

.TopHeaderBtns {
    background-color: #0078C5;
    border-radius: 1px;
    color: #FFFFFF;
    float: right;
    height: 26px;
    line-height: 26px;
    margin: 21px 10px 0 0;
    padding: 0 10px;
    text-decoration: none;
}

.AppStoreBtnTop {
    margin-right: 20px !important;
}

p {
    color: #666666;
    font-size: 14px;
    margin: 10px 0 0;
}

.ListDiv {
    margin: 15px;
}

a {
    color: #0078C5;
    text-decoration: none;
}

.ListName {
    display: list-item;
    margin: 0 10px;
    padding: 0 20px 0 5px;
}

.smallGridHead td {
    background: none repeat scroll 0 0 #0078C5;
    color: #FFFFFF;
    margin: 0 10px;
    padding: 5px 55px 5px 5px;
}

.ContentLeft_List li a:hover {
    background-color: black !important;
    color: white !important;
}

.ContentLeft_List li a {
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-top: 5px;
    display: inline-block;
}

.ContentLeft_List li {
    padding: 0px 0;
    margin: 0px;
}

.ContentLeft_List ul {
    padding: 0 0 0 12px;
}

.ContentLeft_List {
    float: left;
    margin: 10px 20px 20px;
    width: 15%;
    border-right: 4px solid #ccc;
}

.ContentRight_Text {
    float: right;
    margin: 10px 20px 20px;
    width: 80%;
}

.ContentLeft_List li a.active {
    background-color: black !important;
    color: white !important;
}

.leftSectionMenu a {
    display: block;
    /*height: 20px;*/
    padding: 3px 0 3px 13px;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #e0eef8;
    text-decoration: none;
}



    .leftSectionMenu a.activeMenuItem {
        background: #e3ffe0;
    }

.divleftmenutop {
    padding: 0px 0px;
    text-align: center;
}

    .divleftmenutop a {
        padding-left: 0px !important;
    }

.rightSection {
    width: 175px;
    background: #e0eef8;
    border-left: 5px solid #b5d1e6;
}


.ImageDiv {
    display: block;
    height: 42px;
    margin: 15px 0 0 10px;
    position: absolute;
    text-decoration: none;
    width: 155px;
}

body {
    font: 13px/16px arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.Header-top {
    border-bottom: 6px solid #B5D1E6;
    height: 70px;
    margin: 0 0 10px;
    width: 100%;
}

.Clear {
    clear: both;
}

.ImageDiv {
    float: left;
    height: 70px;
    width: 176px;
}

.TopHeaderBtns {
    background-color: #0078C5;
    border-radius: 1px;
    color: #FFFFFF;
    float: right;
    height: 26px;
    line-height: 26px;
    margin: 21px 10px 0 0;
    padding: 0 10px;
    text-decoration: none;
}

.AppStoreBtnTop {
    margin-right: 20px !important;
}

p {
    color: #666666;
    font-size: 14px;
    margin: 10px 0 0;
}

.ListDiv {
    margin: 15px;
}

a {
    color: #0078C5;
    text-decoration: none;
}

.ListName {
    display: list-item;
    margin: 0 10px;
    padding: 0 20px 0 5px;
}

.smallGridHead td {
    background: none repeat scroll 0 0 #0078C5;
    color: #FFFFFF;
    margin: 0 10px;
    padding: 5px 55px 5px 5px;
}

.ContentLeft_List li a:hover {
    background: #eee;
}

.ContentLeft_List li a {
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-top: 5px;
    display: inline-block;
}

.ContentLeft_List li, ContentRight_List li {
    padding: 0px 0;
    margin: 0px;
}

.ContentLeft_List ul, .ContentRight_List ul {
    padding: 0 0 0 12px;
}

.ContentRight_List {
    width: 19%;
    word-break: break-all;
}

.ContentLeft_List {
    float: left;
    margin: 10px 20px 20px;
    width: 17%;
    border-right: 4px solid #ccc;
}

.ContentRight_Text {
    float: left;
    margin: 10px 0px 20px;
    width: 60%;
}

.ContentLeft_List li a.active {
    background: #eee;
}

.container_box {
    background-color: #f8f8f8;
    line-height: 23px;
    margin-right: 18px;
    margin-top: 12px;
    padding: 10px 15px;
}

#mainContentDiv {
    padding: 0;
}

.lblMember, .lblDateTime {
    font-size: 12px;
}

.lblDateTime {
    float: right;
    margin-right: -29px;
}

.ContentRight_Text h1 {
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 12px;
}

.divManageClient, .divManageTeam {
    line-height: 8px;
}

    .divManageClient input[type="text"], .divManageTeam input[type="text"] {
        line-height: 18px;
        font-size: 12px;
    }

.Tab {
    margin: 20px;
    width: 850px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    margin: -8px !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 28px !important;
    height: 28px !important;
    margin-top: -14px !important;
}


.ui-tabs-nav > .ui-state-active a {
    background: black !important;
    color:white !important;
}