﻿.ContentLeft_List { }
.ContentRight_Text { }
.ContentRight_List { }





/*Full Screen*/
@media only screen and (min-width: 768px) and (max-width: 960px) {
.ContentRight_Text { float: left; margin: 10px 0 20px; width: 58% !important; }
.ContentLeft_List ul, .ContentRight_List ul { padding: 0 0 0 4px !important; }
.ContentLeft_List { border-right: 4px solid #ccc; float: left; margin: 10px 15px 20px !important; width: 17%; }
.ContentLeft_List > h2 { font-size: 16px; }
}

/*640-768*/
@media only screen and (min-width: 640px) and (max-width: 768px) {
.ContentLeft_List { float: none !important; width: 97% !important; padding: 0 20px !important; }
.ContentRight_Text { float: none !important; width: 97% !important; padding: 0 20px !important; clear: both !important; margin-bottom: 60px !important; }
.ContentRight_List { float: none !important; width: 97% !important; padding: 0 20px !important; margin-top: 20px !important; }
.ContentRight_Text h1 { line-height: 30px; padding-bottom: 12px; }
}

/*450-640*/
@media only screen and (min-width: 450px) and (max-width: 640px) {
.ContentLeft_List { float: none !important; width: 97% !important; padding: 0 20px !important; }
.ContentRight_Text { float: none !important; width: 97% !important; padding: 0 20px !important; clear: both !important; margin-bottom: 60px !important; }
.ContentRight_List { float: none !important; width: 97% !important; padding: 0 20px !important; margin-top: 20px !important; }
.ContentRight_Text h1 { line-height: 30px; padding-bottom: 12px; }
}

/*320-450*/
@media only screen and (min-width: 320px) and (max-width: 450px) {
.ContentLeft_List { float: none !important; width: 97% !important; padding: 0 20px !important; }
.ContentRight_Text { float: none !important; width: 97% !important; padding: 0 20px !important; clear: both !important; margin-bottom: 60px !important; }
.ContentRight_List { float: none !important; width: 97% !important; padding: 0 20px !important; margin-top: 20px !important; }
.ContentRight_Text h1 { line-height: 30px; padding-bottom: 12px; }
}

/*0-320*/
@media only screen and (max-width: 320px) {
.ContentLeft_List { float: none !important; width: 97% !important; padding: 0 20px !important; }
.ContentRight_Text { float: none !important; width: 97% !important; padding: 0 20px !important; clear: both !important; margin-bottom: 60px !important; }
.ContentRight_List { float: none !important; width: 97% !important; padding: 0 20px !important; margin-top: 20px !important; }
.ContentRight_Text h1 { line-height: 30px; padding-bottom: 12px; }
}

/*Ipad Screen*/
@media only screen and (max-width: 767px) {
}

/*IPhone*/

@media only screen and (min-width: 320px) and (max-width: 760px) {
}
/* Below 320px Width */
