﻿.formcontrol {
    width: 40%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px 0;
}

.btn {
    background-color: #337ab7 !important;
    color: #fff !important;
    padding: 2px 6px !important;
    font-size: 15px !important;
    border-radius: 3px !important;
    opacity: 0.8 !important;
}

table#dataH {
    max-width: 80% !important;
    width: 100% !important;
}

.disable {
    background-color: lightgray;
}

#dataH a.btndanger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    cursor: pointer;
}

#dataH a.btndisable {
    background-color: rgba(125, 121, 121, 0.87) !important;
    border-color: darkgray !important;
    cursor: pointer;
}
