﻿#lblRole {
    font-size: 13px;
    float: right;
}

.InactiveCheck {
    padding: 0px 0px 0px 5px;
    font-size: 13px;
}

table#dataH {
    max-width: 95% !important;
    width: 95% !important;
}

.ChatCont {
overflow-x:hidden;
}

#dataH a.btndanger {
background-color: #d9534f !important;
    border-color: #d43f3a !important;
    cursor:pointer;
}

