﻿.notesul {
    padding: 5px 0 0 0;
    display: inline-block;
    background: none;
}

    .notesul li {
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        list-style: none;
        margin: -1px 0 -1px 0;
        font-family: arial;
        font-size: 12px;
        color: #46799b;
    }

.txtAddNotes {
    border-radius: 1px;
    width: 550px;
}

.hide {
    display: none;
}

.notescheck {
    padding: 2px 2px 2px 2px;
    font-size: 13px;
}

.shortnote {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.notecreater {
    float: right;
    font-weight: bold;
    color: black;
    position: absolute;
}

.btnDelNotes {
    float: left;
}

#lblAddedBy {
    font-size: 10px;
    float: right;
}
