﻿.projects a {
    padding: 0 !important;
    display: block !important;
}

.projects {
    height: auto !important;
    min-height: 26px !important;
}

@charset "utf-8";
/* CSS Document */
html {
    height: 100%;
}

body {
    height: 100%;
}

.col-left-chat {
    background: #333;
    height: 100%;
}

#bar {
    height: 100%;
}

.tabbed-pannel {
    padding: 0 0px 0 7px;
}

.nav-tabs {
    border-bottom: 1px solid #444 !important;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #eee !important;
        cursor: default;
        background-color: #444;
        border-bottom-color: transparent;
        border-top: 1px solid #ddd;
        border-bottom: none;
        border-right: none;
        border-left: none;
    }

    .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 3px 3px 0 0 !important;
        color: #aaa !important;
    }

        .nav-tabs > li > a:hover {
            color: #222 !important;
        }

.spacer20 {
    height: 20px;
}

.projects {
    height: 26px;
    width: 100%;
    margin: 0 0 2px 0;
    color: #aaa;
    padding: 3px 4px;
}

.tabbed-pannel .selected {
    color: #EEE;
    background: #454545;
}

.floatRight {
    float: right !important;
}

.chat-heading {
    height: 70px;
    width: 100%;
    background: url(../img/diag_lines.png) #fff repeat;
    position: absolute !important;
    z-index: 10;
    font-size: 35px;
    color: #402000;
    line-height: 70px;
    box-shadow: 2px 2px 2px #aaa;
}

.ChatCont {
    padding: 80px 0 0 0;
    overflow-y: auto !important;
    height: 100%;
}

.right-col-files {
    background: #F0F0F0;
    height: 100%;
    padding: 80px 0 0 0;
    overflow-y: auto !important;
}

.ChatCont .chatGrid {
    min-height: 10px;
    height: auto;
    border-bottom: 1px dashed #aaa;
    padding: 30px 10px 30px 12px;
    margin: 3px 0 0 0;
}

.ChatCont .taskgrid {
    background: #FFFFEA;
}

.ChatCont .tasttag {
    padding: 0px 12px;
    font-size: 11px;
    margin: 0 10px 0 0;
}

.css-shapes-preview {
    position: relative;
    height: 0px;
    top: 3px;
    width: 0px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-left: 6px solid #C00;
    border-bottom: 8px solid transparent;
    margin: 0 10px 0 0;
}

.ChatCont .chatGrid .image {
    float: left;
    height: 50px;
    width: 50px;
    background: #ccc;
    border-radius: 50px;
    overflow: hidden;
}

.ChatCont .chatGrid .text {
    float: left;
    width: 92%;
    padding: 0 14px;
    font-size: 13px !important;
    color: #000;
}

    .ChatCont .chatGrid .text h4 {
        font-size: 16px;
        padding: 0px;
        margin: 0px 0 5px 0;
        float: left;
    }

    .ChatCont .chatGrid .text .date {
        float: right;
        font-weight: bold;
        font-size: 12px;
        color: #bbb;
    }

.right-col-files h4 {
    font-weight: bold;
    font-size: 18px;
}

.right-col-files .TeamMembers {
    padding: 0px;
    margin: 0px 0 0 6px;
    font-size: 13px;
}

    .right-col-files .TeamMembers li {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
        float: left;
        margin: 4px 0;
    }

        .right-col-files .TeamMembers li a:hover {
            text-decoration: none;
            color: #333;
        }

.right-col-files .seperator {
    border-top: 1px solid #ccc;
    margin: 12px 0;
    width: 100%;
    display: block;
}

.status {
    border: 0px;
    background: 0px;
    float: right;
    margin-right: 20px;
}

.information {
    border: 0px;
    background: 0px;
    float: right;
}

.infofont {
    font-size: 27px !important;
    color: #800000;
}

.cke_chrome {
    position: relative;
    bottom: 10px;
}

span#cke_1_bottom {
    display: none !important;
}
/*div#cke_1_contents { height: 60px !important; }*/
.cke_editable {
    cursor: text;
    margin: 3px 10px !important;
}

.chatGrid.last {
    border: none;
    padding-bottom: 7px;
}

.client-text {
    color: #903;
    font-weight: bold;
}

.filter-text {
    font-size: 13px;
    margin: 5px 0;
}

.addDis {
    background: #F3F3F3 !important;
}

.load-cont {
    height: 58px;
}

.loadMsg {
    margin-bottom: 0px;
    margin-right: 15px;
    float: left;
    background: #f5f5f5;
    padding: 10px;
    font-size: 14px;
    margin-right: 15px;
}

    .loadMsg:hover {
        text-decoration: none;
        background-color: #E5E5E5;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .loadMsg a:hover {
        text-decoration: none;
    }

.msgAttachment {
    border-top: 1px solid #ccc;
    padding: 6px 0 0 0;
    margin: 13px 10px 0 0;
    width: auto;
    display: inline-block;
}

    .msgAttachment a {
        color: #0000ff;
    }

        .msgAttachment a:hover {
            text-decoration: none;
        }
/* ============================================================= */
.splitter_panel {
    position: relative;
    overflow: hidden;
}

    .splitter_panel .vsplitter {
        background-color: #333;
        cursor: col-resize;
        z-index: 900;
        width: 3px;
    }

    .splitter_panel .hsplitter {
        background-color: #5F5F5F;
        cursor: row-resize;
        z-index: 800;
        height: 3px;
    }

        .splitter_panel .vsplitter.splitter-invisible, .splitter_panel .hsplitter.splitter-invisible {
            background: none;
        }

    .splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel, .splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
        position: absolute;
    }

    .splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel {
        height: 100%;
    }

    .splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
        width: 100%;
    }

    .splitter_panel .top_panel, .splitter_panel .left_panel, .splitter_panel .vsplitter {
        top: 0;
    }

    .splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .left_panel, .splitter_panel .hsplitter {
        left: 0;
    }

    .splitter_panel .bottom_panel {
        bottom: 0;
    }

    .splitter_panel .right_panel {
        right: 0;
    }

.splitterMask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.activeIcon {
    margin-right: 5px;
}

li.plus a:hover {
    background-color: transparent !important;
    border: transparent;
    color: white !important;
}

#cke_txtMemDis {
    border: 2px solid #ccc !important;
    box-shadow: none !important;
}
/*==================*/
.tabpadding {
    padding: 6px 8px !important;
}

.plusbtn {
    padding: 6px 3px 0 !important;
    background: none !important;
}

.plusbtnli.active a {
    background: none !important;
    color: #aaa !important;
    border: none !important;
}

.plusbtn:hover {
    background: none !important;
    color: #aaa !important;
    border: none !important;
}

.plusbtn.selected {
    background: none !important;
}

.plusbtn:hover i {
    color: #aaa !important;
}

.search {
}

    .search input {
        width: 80%;
        background: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #aaa !important;
        color: #D8D8D8;
        margin-bottom: 20px;
        padding: 0 0 4px 4px;
    }

        .search input:focus {
            outline: 0;
        }

    .search i {
        color: #aaa;
        margin: 0 0 0 -15px;
    }

.cmntmenubtn {
    padding: 0px !important;
    margin: 0 0 0 10px;
    color: #ccc;
}

    .cmntmenubtn:hover {
        background: none !important;
    }

.cmntMenudrop {
    float: right;
}

    .cmntMenudrop .caret {
        display: inline-block;
        width: 0;
        height: 8px !important;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 5px solid #aaa !important;
        border-right: 5px solid transparent !important;
        border-left: 5px solid transparent !important;
    }

    .cmntMenudrop .dropdown-menu {
        min-width: 10px !important;
        left: -19px;
        box-shadow: 2px 2px 5px 0px #ccc;
        border: 1px solid #ccc;
    }

        .cmntMenudrop .dropdown-menu > li > a {
            display: block;
            padding: 2px 9px !important;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .cmntMenudrop .dropdown-menu li {
            font-weight: lighter;
            font-size: 13px !important;
        }

.nav .open > a.cmntmenubtn, .nav .open > a.cmntmenubtn:hover, .nav .open > a.cmntmenubtn:focus {
    background: none !important;
}

.btnAddExTeam:hover {
    background: #ddd !important;
}

.btnCancelTeam:hover {
    background: #ddd !important;
}

a {
    text-decoration: none !important;
}

li.plusbtnli a:hover {
    margin: 6px !important;
}

    li.plusbtnli a:hover i {
        color: #fff !important;
    }

hours {
    list-style-type: none;
    padding: 0 5px 0 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #eee;
    cursor: text;
    font: normal 14px sans-serif;
    color: #555;
    background: #fff;
    padding: 5px 5px 5px 0px;
}

.summary {
    margin: 20px;
    margin-bottom: 35px;
}

    .summary h3 {
        margin-bottom: -12px;
    }

.lblMID {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: #bbb;
    cursor: pointer;
}

.timespent {
    margin: 8px 0px 0px 0px !important;
    font-size: 13px !important;
    /*font-weight:bold !important;*/
}

.subtract-text {
    color: rgb(221, 36, 36) !important;
}

.mtddlProjects {
    width: auto;
}

.txtBox {
    width: 100%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px 0;
}

.btnClient {
    background: #F3F3F3;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 10px 0;
}

.btnClient:hover {
    background: #ddd !important;
}
